.icons {
  display: flex;
  gap: 10vw;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}

.titre {
  text-align: center;
  font-size: 36px;
  text-transform: capitalize;
}

.card img {
  max-width: 185px;
  max-height: 210px;
}

/* Media query */

@media only screen and (max-width: 480px) {
  .icons {
    flex-direction: column;
  }
  .card :not(:last-child) {
    margin: 24px;
  }
  main {
    margin: 24px;
    gap: 0;
  }
}
