.icons {
  display: flex;
  gap: 10vw;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}

.titre {
  text-align: center;
  font-size: 36px;
  text-transform: capitalize;
}

.card img {
  max-width: 185px;
}

/* Media query */

@media only screen and (max-width: 480px) {
  .icons {
    flex-direction: column;
    gap: 5vw;
  }
  .card :not(:last-child) {
    margin-inline: auto;
    margin-block: 12px;
  }
  main {
    margin: 24px;
    gap: 0;
  }
  .card img {
    max-width: 120px;
  }

  .card {
    gap: 0px;
  }
}

@media only screen and (max-width: 400px) {
  .card {
    margin-inline: auto;
    margin-block: 12px;
  }

  .card img {
    max-width: 100px;
  }

  .card {
    gap: 0px;
  }

  footer {
    font-size: 16px;
  }

  .titre {
    font-size: 26px;
  }
}
